.side-navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 200px;
  background-color: #333;
  color: white;
  padding-top: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  row-gap: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.side-navbar svg {
  font-size: 24px;
}

.side-navbar span {
  font-size: 16px; 
}


logout {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto; 
  cursor: pointer;
}
.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px; 
  cursor: pointer;
}
